<Card Class="mt-2 mb-2">
	<CardHeader TextColor=@GetTextColor()>@ItemData.Item.Name</CardHeader>
    <CardBody>
        <CardText>
             <Div Class="row">
                <Div Class="col-1">
                    <img src="@("https://api.newworldforge.com" + ItemData.Item.Icon)" />
                </Div>
                <Div Class="col-10">
                    @foreach (ZoneInfo zone in EmbeddedData.Zones)
                    {
                        <ZonePriceDisplay Zone="@zone" Data="@ItemData" PriceHubConnection="@PriceHubConnection" />
                    }
                </Div>
                <Div Class="col-1">
                    <img src="@("https://api.newworldforge.com" + ItemData.Item.Icon)" />
                </Div>
            </Div>
        </CardText>
    </CardBody>
</Card>
 
@code {
    // -- Parameters
    [Parameter]
    public ItemData ItemData { get; set; }

    [Parameter]
    public HubConnection PriceHubConnection { get; set; }

    private TextColor GetTextColor()
    {
        switch (ItemData.Item.Rarity.ToLower())
        {
            case "common":
                return TextColor.Muted;
            case "uncommon":
                return TextColor.Success;
            case "rare":
                return TextColor.Info;
            case "legendary":
                return TextColor.Warning;
            default:
                return TextColor.Black50;
        }
    }
}